/* сброс стилей браузера */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/* конец кода сброса стилей браузера */


html {
  margin: 0;
  font-size: 10px;
  font-family: "Raleway";
}

.main {
  height: 100vh;
  min-height: 600px;
  background: url(../img/background1.png) no-repeat center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 10vh;
}

.logo {
  margin-left: 10rem;
}

nav {
  display: flex;
  flex-direction: row;
  width: 60%;
}
ul {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
li{
  margin-right: 3rem;
}

li a{
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(161,161,161);
  font-size: 1.6rem;
  padding: 2rem 0;
  transition: color 1s;
}

li a:hover {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  color: rgb(255,255,255);
}

.main-section {
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
}

.main-section h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.red {
  color: rgb(255,0,54);
}

.main-section p {
  font-size: 1.4rem;
  margin: 2rem 0;
}

button { 
  font-weight: lighter;
  color: #fff;
  border: none;
  background-color: rgb(19,19,19);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-right: 3rem;
  width: 170px;
  height: 50px;
  transition: background-color 0.6s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255,0,54);
}

  
.about {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 90%;
}

.section-about {
  margin: 8rem 0 4rem 0;
}

.section-about h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section-about p{
  font-size: 1.6rem;
}
.section-about-main {
  text-align: left;
  margin-bottom: 4rem;
}

.section-about-main img{
 float: right;
 padding-left: 4rem;
}

.section-about-main h1{
  font-size: 2rem;
  text-align: left;
  padding:1rem 0 1rem 4rem;
  margin:2rem 0;
  background-color: rgb(247,247,247);
  width: 50%;
}

.section-about-main p {
  font-size: 1.4rem;
  color: rgb(127,127,127);
}

.dropdown-text {
  transition: color 0.4s;
}

.dropdown-text:hover {
  color: rgb(255,0,54);
  cursor: pointer;
}

.section-about-bottom {
  margin: 8rem auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
}

.icon h1 {
  margin: 2rem auto;
  text-transform: uppercase;
  font-size: 2rem;
}

.icon p {
  font-size: 1.4rem;
  padding: 0 2rem;
  color: rgb(127,127,127);
}