@media (max-width: 1024px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 920px) {


	.photo {
		opacity: 0.2;
		width: 100%;
		left: 0;
	}

	nav {
		width: 75%;
	}

	.info {
		width: 66%;
	}

	.sendMe {
		width: 18%;
	}
}

@media (max-width: 800px) {
	html {
		font-size: 12px;
	}

	.items {
		flex-direction: column;
	}

	.item {
		margin-bottom: 2rem;
		margin-right: 0rem;
	}

	.item:last-child {
		margin-bottom: 0;
	}

	.item p {
		padding: 1rem 3rem;
	}

	.contact {
		flex-direction: column;
	}

	.contact section iframe {
		margin-bottom: 1rem;
	}

	nav {
		width: 85%;
	}

	.info {
		width: 75%;
	}

	.resume {
		width: 85%;
	}
}

@media (max-width: 520px) {
	nav {
		display: none;
	}

	.info {
		width: 90%;
	}

	.info h1 {
		font-size: 1.9rem;
	}

	.info h2 {
		font-size: 1.3rem;
	}

	.info p {
		font-size: 1.1rem;
	}

	.sendMe {
		width: 40%;
		font-size: 1rem;
	}

	.resume {
		width: 90%;
	}

	.row {
		flex-direction: column;
	}

	.resume section:first-child {
		margin-bottom: 3rem;
	}

	.resume span {
		font-size: 6rem;
		border-radius: 50%;
	}

	form input[type="submit"] {
		min-width: 45%;
		margin-left: 37%;
		font-size: 1rem;
	}