body {
  font-size: 10px;
  font-family: 'Roboto Slab', serif;
  color: rgba(59,55,113);
}
a {
  color: rgba(59,55,113);
  text-decoration: none;
}

a:visited {
  color: rgba(59,55,113);
}

header {
  background: linear-gradient(to bottom right, rgb(243,234,224), rgb(243,193,224));
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding: 2rem 0;
}

nav {
  width: 50%;
  margin-left: 5%;
  margin-bottom: 1rem;
}

ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  font-size: 1.2rem;
}

li a {
  transition: color .4s;
}

li a:hover {
  color: rgb(250,54,146);
}

.info {
  margin-left: 5% ;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.info h1 {
  color: rgb(250,54,146);
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.info h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.info p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.sendMe {
  font-size: 0.8rem;
  width: 15%;
  background-color: rgb(59,55,113);
  border: 1px solid rgba(59,55,113,0.1);
  border-radius: 0.5rem;
  margin-left: 5%;
  text-align: center;
  text-transform: uppercase;
  padding: 0.6rem 0;
  font-weight: 700;
  transition: background-color 0.6s, transform 0.6s;
}
a.sendMe {
  color: white;
}
.sendMe:hover {
  transform: scale(1.1);
  background-color: rgba(250,54,146);
}

.photo {
  position: absolute;
  width: 35%;
  left: 65%;
  min-height: 100%;
  background-image: url(../img/IMG_8384-removebg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .6;
}

/*  secong page*/

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 4rem auto;
}

.about-me h1 {
  color: rgb(250,54,146);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.about-me p {
  margin: 1rem auto;
  font-size: 1.2rem;
  width: 80%;
  line-height: 2rem;
}
.whatido {
  font-size: 1.6rem;
  margin: 4rem auto 2rem;
}
.items {
  width: 90%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
}
 .items img {
   width: 50px;
   height: 50px;
 }

.item h1 {
  font-size: 1.2rem;
  margin: 1rem auto;
  font-weight: 400;
}

.item p {
  font-size: 1rem;
  font-weight: 300;
  padding: 2rem;
}
